@page
@model SchoolProj.Pages.Account

@{
    ViewData["Title"] = "Личный кабинет";
}

@{
    Layout = "Shared/_Layout";
}

<div class="container">
    <div class="account-header">
        <h1 class="account-username">@Model.Users.Name</h1>
        <a href="#" onclick="exit()">Выйти</a>
    </div>
    <div class="account-courses">
        <h2>Мои курсы (@Model.Users.NumberOfCourses):</h2>
        @if (@Model.Courses.Count == 0)
        {
            <h3>Вы ещё не приобрели ни одного курса</h3>
            <h3>Давайте <a href="@Url.Page("./Search")">найдём</a> что-нибудь для вас</h3>
        }
        @if (@Model.Courses.Count > 0)
        {
            <ul>
                @foreach (var course in @Model.Courses)
                {
                    <li>
                        <a href="CoursePage/@course.Id">@course.Name</a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="account-purchases">
        @if (@Model.Courses.Count > 0)
        {
            <h2>История покупок:</h2>
            <ul>
                <li><a href="@Url.Page("./PurchasesHistory")">Посмотреть</a></li>
            </ul>
        }
    </div>
</div>