@page "{courseId?}"
@model SchoolProj.Pages.CoursePage

@{
    ViewData["Title"] = "Курс #" + @Model.Course.Id;
}

@{
    Layout = "Shared/_Layout";
}

<div>
    <div>@Model.Course.Name</div>
    <div>@Model.Course.Description</div>
    <div>Цена: @Model.Course.Price</div>
    <div>
        <ul>
            @foreach (var subject in @Model.Subjects)
            {
                <li>@subject</li>
            }
        </ul>
    </div>
    <div>Содержание:</div>
    <ul>
    @foreach (var unit in @Model.Units)
    {
        <li>
        <div>@unit.Name (занятий: @unit.Lessons.Count)</div>
        <ul>
        @foreach (var lesson in @unit.Lessons)
        {
            <li>@lesson.Name</li>
        }
        </ul>
        </li>
    }
    </ul>
</div>